
  .modalContainer2 {
    position: absolute;
    right: 450px;
    top: 30px;
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
    height: 450px;
    border-radius: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 10px;
    padding: 25px;
  }

  .modalContainer2 .titleCloseButton2 {
    /* display: flex;
    justify-content: flex-end; */
    grid-area: 1/2/2/3;

  }

  #titleCloseButton2 {
    margin-left: 200px;
  }

  #allFields {
    color: red;
  }

  .titleCloseButton2 button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }


  .modalContainer2 .title1 {
    grid-area: 2/1/3/3;
    text-align: center;
    margin-top: 5x;
    margin-bottom: 10px;
    font-size:40px;
    font-weight: bold;
    height: 60px;
  }

  .modalContainer2 #allFields {
    grid-area: 2/1/3/3;
    margin-top: 50px;
    margin-left: 100px;


  }

/***************FIRST NAME**************************/
  .modalContainer2 #firstname {
    grid-area: 3/1/4/2;
  }

  #firstname {
    justify-self: center;
  }

  .modalContainer2 .bodyFName {
    grid-area:  4/1/5/2;
  }

  .bodyFName {
    justify-self: center;
    align-self: center;
  }

  .modalContainer2 .errorFName {
    grid-area: 5/1/6/2;
    height: 10px;
    }

  .errorFName {
    color: red;
  }

/***************LAST NAME**************************/

.modalContainer2 #bodyLName {
  grid-area: 3/2/4/3;
}

#bodyLName {
  justify-self: center;
}

.modalContainer2 .bodyLName {
  grid-area: 4/2/5/3;
}

.bodyLName {
  justify-self: center;
  align-self: center;
}

.modalContainer2 .errorLName {
  grid-area: 5/2/6/3;

}

.errorLName {
  color: red;
}
/***************EMAIL NAME**************************/

.modalContainer2 #bodyEmail {
  grid-area: 6/1/7/2;

}

#bodyEmail {
  justify-self: center;
}

.modalContainer2 .bodyEmail {
  grid-area: 7/1/8/2;
}

.bodyEmail {
  justify-self: center;
  align-self: center;
}

.modalContainer2 .errorEmail {
  grid-area: 8/1/9/2;
}

.errorEmail {
  color: red;
  justify-self: center
}

/***************USER NAME**************************/

.modalContainer2 #bodyUsername {
  grid-area: 6/2/7/3;
  }

#bodyUsername {
  justify-self: center;
}

.modalContainer2 .bodyUsername {
  grid-area: 7/2/8/3;
}

.bodyUsername {
  justify-self: center;
  align-self: center;
}

.modalContainer2 .errorUsername {
  grid-area: 8/2/9/3;
}

.errorUsername {
  color: red;
  justify-self: center;
}

/*************** PASSWORD **************************/

.modalContainer2 #bodyPassword {
  grid-area: 9/1/10/2;

}

#bodyPassword {
  justify-self: center;
}

.modalContainer2 .bodyPassword {
  grid-area: 10/1/11/2;
}

.bodyPassword {
  justify-self: center;
  align-self: center;
}

.modalContainer2 .errorPassword {
  grid-area: 11/1/12/2;
}

.errorPassword {
  color: red;
  justify-self: center;
}


/*************** CONFIRM PASSWORD **************************/

.modalContainer2 #bodyConfirm {
  grid-area: 9/2/10/3;

}

#bodyConfirm {
  justify-self: center;
}

.modalContainer2 .bodyConfirm {
  grid-area: 10/2/11/3;
}

.bodyConfirm {
  justify-self: center;
  align-self: center;
}

.modalContainer2 .errorConfirm {
  grid-area: 11/2/12/3;
}

.errorConfirm {
  color: red;
}

/*************** BUTTONS **************************/


  .modalContainer2 .footer1 {
    grid-area: 12/1/14/3;
    justify-self: center;
  }

  .modalContainer2 .footer1 button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  .modalContainer2 .footer1 button#isDisabled2 {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: gray;
    color: white;
    border-radius: 8px;
    font-size: 20px;
  }

  #cancelButton1 {
    background-color: crimson;
  }

.errors {
    color: red;
    text-align: center;
}


@media (max-width: 1100px) {
  .modalContainer2 {
    position: absolute;
    right: 450px;
    left: 200px;
    top: 30px;
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
    height: 450px;
    border-radius: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 10px;
    padding: 25px;
  }
}
