.blueFields {
    background-color:rgba(0, 0, 255, 0.226);
}

.whiteFields {
    background-color: white;
}

.groupGridContainer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(20, 90px);
    justify-items: center;
    margin-left: 200px;
    width: 800px;
    height: 1400px;
    border: 1px black solid;
    border-radius: 20px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.groupGridContainer h1 {
    grid-area: 1/1/2/3;
}

.groupGridContainer h2  {
    grid-area: 2/1/3/3;
}

.groupGridContainer #title3 {
    grid-area: 3/1/4/3;
}

#title3 {
    font-weight: bold;
    justify-self: start;
    padding-left: 10px;
    font-size: 18px;
    margin-top: 30px;
}

.groupGridContainer #title4 {
    grid-area: 3/1/4/3;
}
 #title4 {
    justify-self: start;
    padding-left: 10px;
    margin-top: 55px;
 }
/******************CITY STATE**************************/
.groupGridContainer #locationAnswer {
    grid-area: 4/1/5/3;
}

#locationAnswer {
    height: 20px;
    justify-self: start;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

.groupGridContainer .errorLocation {
    grid-area: 4/1/5/3;
    color: red;
    justify-self: start;
    margin-top: 30px;
    padding-left: 20px;
}

/******************GROUP NAME**************************/
.groupGridContainer #groupName {
    grid-area: 5/1/6/3;
}

#groupName {
    justify-self: start;
    font-size: 18px;
    padding-left: 10px;
}

.groupGridContainer #groupNameText {
    grid-area: 5/1/6/3;
}

#groupNameText {
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.groupGridContainer #groupNameAnswer {
    grid-area: 6/1/7/3;
}

#groupNameAnswer {
    height: 20px;
    justify-self: start;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

.groupGridContainer .errorGroupName {
    grid-area: 6/1/7/3;
    color: red;
    justify-self: start;
    margin-top: 30px;
    padding-left: 20px;
}

/************** DESCRIPTION ******************************/
.groupGridContainer #groupDescriptionBox {
    grid-area: 7/1/9/3;
    justify-self: start;

}

#groupDescription1 {
    padding-left: 10px;
    font-size: 18px;
}

#groupDescription2 {
    padding-left: 10px;
    margin-top: -15px;
}

.groupGridContainer #groupDescriptionAnswer {
    grid-area: 9/1/11/3;
}

#groupDescriptionAnswer {
    margin-top: 30px;
    width: 600px;
    border-radius: 10px;
}

.groupGridContainer .errorAbout {
    grid-area: 9/1/10/3;
    color: red;
    margin-top: -10px;
}

/************** GROUP TYPE ******************************/
.groupGridContainer #finalSteps {
    grid-area: 11/1/12/2;
    justify-self: start;
    padding-left: 10px;
    margin-top: 30px;
}

.groupGridContainer #groupType {
    grid-area: 12/1/13/2;
    justify-self: start;
    padding-left: 10px;
}

.groupGridContainer #groupTypeAnswer {
    grid-area: 12/1/13/2;
}

 #groupTypeAnswer {
    height: 25px;
    width: 200px;
    margin-top: 25px;
    text-align: center;
    border-radius: 5px;
    justify-self: start;
    margin-left: 10px;
 }

 .groupGridContainer .errorTypePerson {
    grid-area: 12/1/13/2;
    color: red;
    margin-top: 40px;
    justify-self: start;
    margin-left: 15px;
 }

/************** PRIVATE PUBLIC ******************************/

.groupGridContainer #privatePub {
    grid-area: 13/1/14/2;
}

#privatePub {
    justify-self: start;
    padding-left: 10px;
    margin-top: 10px;
}

.groupGridContainer #privatePubAnswer {
    grid-area: 13/1/14/2;
}

#privatePubAnswer {
    height: 25px;
    width: 200px;
    margin-top: 35px;
    text-align: center;
    border-radius: 5px;
    justify-self: start;
    margin-left: 10px;
}

.groupGridContainer .errorPrivatePublic {
    grid-area: 13/1/14/2;
    color: red;
    margin-top: 45px;
    justify-self: start;
    margin-left: 15px;
}

/*********** IMAGE ******************************/

.groupGridContainer #groupImgUrl {
    grid-area: 14/1/15/2;
}

#groupImgUrl {
    justify-self: start;
    padding-left: 10px;
    margin-top: 10px;
}

.groupGridContainer #groupImgUrlAnswer {
    grid-area: 14/1/15/2;
}

#groupImgUrlAnswer {
    height: 20px;
    width: 300px;
    margin-top: 35px;
    /* text-align: center; */
    border-radius: 5px;
    justify-self: start;
    margin-left: 10px;
}

.groupGridContainer .errorImageUrl {
    grid-area: 14/1/15/2;
    color: red;
    margin-top: 55px;
    justify-self: start;
    margin-left: 15px;
}

/*********** BUTTONS ******************************/

.groupGridContainer #groupCreate {
    grid-area: 15/1/16/2;
}

#groupCreate {
    color: white;
    margin-top: 20px;
    margin-left: 250px;
    cursor: pointer;
    border-radius: 8px;
    height: 30px;
    background-color: green;
}

#groupCreate:hover {
    background-color: white;
    color: green;
    border: 1px solid black;
}



.groupGridContainer #groupNoCreate {
    grid-area: 15/1/16/2;
}

#groupNoCreate {
    color: red;
    margin-top: 20px;
    margin-left: 250px;
    cursor: pointer;
    border-radius: 8px;
    height: 30px;
    background-color: rgb(219, 208, 208);
}


.groupGridContainer #groupCancel {
    grid-area: 15/2/16/3;
}

#groupCancel {
    color: white;
    background-color: red;
    margin-top: 20px;
    margin-right: 250px;
    width: 90px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

#groupCancel:hover {
    background-color: white;
    color: red;
    border: 1px solid black;
}

/*********** SCREEN 1000PX AND LESS ******************************/

@media (max-width: 1000px) {
.groupGridContainer {
    display: block;
    border: 1px black solid;
    text-align: center;
    margin-left: 10px;

  }
}
