.delete-dropdownhidden {
    display: none;
  }

.backLink {
    padding: 10px;
}

.topContainer {
    display: flex;
    border: 1px solid gray;
    width: 700px;
    border-radius: 20px;
    margin-left: 30px;
    box-shadow: 5px 5px rgba(0, 0, 255, 0.226);
}
.groupImage {
    padding: 10px;
}

.name {
    font-size: 30px;
    padding: 10px;
}

.location {
    padding: 8px;

}

.events {
    font-size: 15px;
    padding: 5px;
}

.public {
    font-size: 15px;
    padding: 5px;
}

.organizer {
    font-size: 15px;
    padding: 10px;
}

.bottomContainer {
    border: 1px solid black;
    margin-top: 10px;
    width: 700px;
    border-radius: 20px;
    margin-left: 30px;
    box-shadow: 5px 5px rgba(0, 0, 255, 0.226);
}

.bottomContainer .organizer {
    font-size: 25px;
}

.bottomContainer .name {
    font-size: 15px;
}

.bottomContainer .about {
    font-size: 21px;
    padding-bottom: 10px;
    color: gray;
    margin-left: 10px;
}

.description {
    margin-left: 13px;
    margin-bottom: 5px;
}

.upcomingEvents {
    padding-top: 20px;
    font-size: 21px;
    color: gray;
    margin-left: 10px;
}

.pastEvents {
    padding: 20px;
    font-size: 25px;
    margin-left: 10px;
}

.upcomingEventsListContainer {
    display: flex;
    background-color: pink;
}

.joinButton {
    background-color: red;
    color: white;
}

.noJoinButton {
    visibility: hidden;
}
