.delete-dropdownhidden {
    display: none;
  }

.backLink {
    padding: 10px;
}

.topContainer {
    display: flex;
    border: 1px solid gray;
    width: 700px;
    border-radius: 20px;
    margin-left: 30px;
    box-shadow: 5px 5px rgba(0, 0, 255, 0.226);
}
.groupImage {
    padding: 10px;
}

.name {
    font-size: 30px;
    padding: 10px;
}

.location {
    padding: 8px;

}

.events {
    font-size: 15px;
    padding: 5px;
}

span.public {
    font-size: 15px;
    margin-left: -1px;
}

.organizer {
    font-size: 15px;
    padding: 10px;
}

#groupCreateEvent {
    background-color: rgb(1, 163, 184);
    color: white;
    font-weight: bold;
    height: 30px;
    width: 105px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

#groupCreateEvent:hover {
    background-color: white;
    color: rgb(1, 184, 1);
}

#groupUpdateGroup {
    background-color: rgb(1, 163, 184);
    color: white;
    font-weight: bold;
    height: 30px;
    width: 105px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

#groupUpdateGroup:hover {
    background-color: white;
    color: rgb(1, 163, 184);
}


#groupDelete {
    background-color: rgb(1, 163, 184);
    color: white;
    font-weight: bold;
    height: 30px;
    width: 105px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

#groupDelete:hover {
    background-color: white;
    color: red;
}

#groupBack {
    font-weight: bold;
    height: 30px;
    width: 105px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

#groupBack:hover {
    background-color: black;
    color: rgb(238, 235, 235);
}

/**************************************************/
.bottomContainer {
    border: 1px solid black;
    margin-top: 10px;
    width: 700px;
    border-radius: 20px;
    margin-left: 30px;
    box-shadow: 5px 5px rgba(0, 0, 255, 0.226);
}

.bottomContainer .organizer {
    font-size: 25px;
}

.bottomContainer .name {
    font-size: 15px;
}

.bottomContainer .about {
    font-size: 21px;
    padding-bottom: 10px;
    color: gray;
    margin-left: 10px;
}

.bottomContainer .description {
    margin-left: 13px;
    margin-bottom: 10px;
    margin-right: 10px;
    word-wrap: break-word;
}

/***************** UPCOMING EVENTS *****************************/
.upcomingEventsContainer {
    border: 1px solid black;
    margin-top: 10px;
    width: 700px;
    border-radius: 20px;
    margin-left: 30px;
    box-shadow: 5px 5px rgba(0, 0, 255, 0.226);
}

.upcomingEvents {
    padding-top: 20px;
    font-size: 21px;
    color: gray;
    margin-left: 20px;
}

.smalleventImg {
    border-radius: 8px;
}

/***************** PAST EVENTS *****************************/

.pastEventsContainer {
    border: 1px solid black;
    margin-top: 10px;
    width: 700px;
    border-radius: 20px;
    margin-left: 30px;
    box-shadow: 5px 5px rgba(0, 0, 255, 0.226);
}

.pastEvents {
    padding-top: 20px;
    font-size: 21px;
    color: gray;
    margin-left: 20px;
    /* padding: 20px;
    font-size: 25px;
    margin-left: 10px; */
}

.upcomingEventsListContainer {
    display: flex;
    border-bottom: 1px dashed gray;
    margin-left: 40px;
    margin-right: 50px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.pastEventsListContainer {
    display: flex;
    border-bottom: 1px dashed gray;
    margin-left: 40px;
    margin-right: 50px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.eventDescription {
    word-wrap: break-word;
    width: 500px;
    padding-left: 10px;
    margin-right: 10px;
}

.eventLocation {
    margin-left: 5px;
}

.links {
    text-decoration: none;
}


.joinButton {
    background-color: red;
    color: white;
}

.noJoinButton {
    visibility: hidden;
}

.groupImageImage {
    border: 1px solide blue;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.GDdot {
    font-size: 30px;
    padding-left: 5px;
    position: relative;
    bottom: 3px;
}

.eventStartDateTime {
    margin-left: 10px;
    font-size: 15px;
}
