.groupEvent {
    color: gray;
    text-decoration: none;
    padding-right: 10px;
    font-size: 25px;
}

.groupEvent:hover {
    text-decoration: underline;
}

.groupGroup {
    color: blue;
    text-decoration: underline;
    font-size: 25px;
}

.smallHeader {
    color: gray;
    padding: 10px;
}

.groupList {
    display: flex;
    height: 150px;
    width: 600px;
    align-items: center;
    /* border-top: 1px solid gray;
    border-bottom: 1px solid gray; */
    border: 1px solid gray;
    border-radius: 20px;
    word-wrap: break-word;
}

.groupList:hover {
    box-shadow: 5px 5px rgba(0, 0, 255, 0.226);
}

.groupListLink {
    text-decoration: none;
}

.groupInfo {
    padding-left: 20px;
    font-size: 20px;
}

.groupListContainer {
    display: block;
    margin-left: 100px;

}

.location {
    font-size: 15px;
}

.about {
    font-size: 12px;
    padding-top: 10px;
    width: 400px;
}

.event {
    font-size: 12px;
}

 .private {
    font-size: 12px;
}

.dot {
    font-size: 30px;
    padding-right: 5px;
    text-align: center;
}
/* .errors {
    display: block;
    text-align: left;
} */

.imageImage {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
