body {
    background-color: rgb(243, 243, 243);
}


.homePageBox {
    display: grid;
    background-color: white;
    width: auto;
    height: 400px;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(4, 1fr);
   grid-template-areas:
      "header header header"
      ". main ."
      "footer footer footer"
      ". footer .";

    column-gap: 10px;
    row-gap: 10px;
    background-color: rgb(243, 243, 243);
}

.item-a {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    font-size: 40px;
    font-weight: bold;
}
.item-a .ipsum {
    font-size: 15px;
    font-weight: normal;
}

 #item-aPic {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
}
.item-aPic, .group, .event, .newGroup {
    border-radius: 20px;
}

.item-b {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.item-b .head {
    font-size: 30px;
    font-weight: bold;
}
.item-c {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.item-d {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
    text-align: center;

}
.item-e {
    grid-column: 3/4;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.item-e #noUser {
    color: gray;
}

.item-f {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
    align-self: end;
}

.item-f button {
    background-color: rgba(0, 0, 255);
    color: white;
    height: 40px;
    border-radius: 15px;
    margin: 10px;
}

#blue {
    color: rgba(0, 0, 255);
}

/****************SCREEN 1000PX AND LESS ******************************/

@media (max-width: 1000px) {
    .homePageBox {
        display: block;
    }

    .item-a {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .item-a .ipsum {
        margin-top: 10px;
    }

    .item-aPic {
        height: 250px;
        width: 350px;
    }
    #item-aPic {
        text-align: center;
    }

    .item-f {
        margin-top: 10px;
        text-align: center;
    }
}
