.delete-dropdownhidden {
    display: none;
  }

.eventTopContainer {
    display: flex;
    /* border-bottom: 1px solid black; */
    height: 100px;
    width: 800px;
}
.backLink {
  font-size: 15px;
  padding: 5px;
}

.eventName {
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
}

.organizer {
    color: gray;
}

/**************** MAIN IMAGE ****************/

.wrapperMiddleContainer {
    display: grid;
    grid-template-columns: (3, 1fr);
    gap: 10px;
    grid-template-rows: (3, 1fr);
    /* border-bottom: 1px solid black; */
    background-color: rgb(236, 236, 236);
    width: 800px;
    margin-left: 40px;
    border-radius: 10px;
}

.image1Box {
    grid-area: 1/1/3/3;
    /* border: 1px solid green; */
    height: 235px;
    width: 320px;
    background-color:  rgb(236, 236, 236);
    border-radius: 10px;
    margin-top: 15px;
}

.mainEventImage {
    height: 235px;
    width: 320px;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
    /* margin-left: 25px; */
}

/************** TOP RIGHT ******************/

.eventDetailsGroupLink {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    width: 400px;
    height: 125px;
    background-color: white;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 10px;
}

.eventDetailsGroupLink #insideImage2 {
    grid-area: 1/1/2/2;
    border: 1px solid gray;
    height: 125px;
    width: 150px;
    background-color: white;
    border-radius: 10px;
}

.insideImage2 {
    width: 150px;
    height: 125px;
    border-radius: 10px;
}

.eventDetailsGroupLink .groupName {
    grid-area: 1/2/2/3;
    width: 250px;
}

.eventDetailsGroupLink .public {
    grid-area: 1/2/2/3;
}

.public {
    margin-top: 80px;
    margin-left: 10px;
}
.groupName {
    font-size: 20px;
    margin-top: 25px;
    margin-left: 10px;
}

/************* BOTTOM RIGHT **************************/

.wrapperClock {
    grid-area: 2/3/3/4;
    display: grid;
    grid-template-columns: (3, 1fr);
    grid-template-rows: (4, 1fr);
    background-color: white;
    border-radius: 10px;
    width: 400px;
    margin-bottom: 10px;
}

/* .clock {
    grid-column: 3/4;
    grid-row: 3/4;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
} */


.wrapperClock .clockImg {
    grid-area: 1/1/3/2;

}

.clockImg {
    justify-self: center;
    align-self: center;
}

.mainClockImg {
    height: 30px;
    width: 40px;
}

.wrapperClock .start {
    grid-column: 2/3;
    grid-row: 1/2;
}

.start {
    margin-top: 10px;
}

.wrapperClock .end {
    grid-column: 2/3;
    grid-row: 2/3;
}

.end {
    margin-top: 10px;
}


.wrapperClock .startDate {
    grid-column: 3/4;
    grid-row: 1/2;
}
.wrapperClock .endDate {
    grid-column: 3/4;
    grid-row: 2/3;
}
.wrapperClock .money {
    grid-column: 1/2;
    grid-row: 3/4;
}

.money {
    justify-self: center;
    align-self: center;
}

.mainMoney {
    height: 30px;
    width: 35px;
    /* margin-left: 30px; */

}

.wrapperClock .free {
    grid-column: 2/3;
    grid-row: 3/4;
}

.free {
    align-self: center;
    justify-self: start;
    /* margin-left: 10px; */
}

.price {
    position: relative;
    top: 25%;
}

.wrapperClock .pin {
    grid-column: 1/2;
    grid-row: 4/5;
}
.pin {
    justify-self: center;
    align-self: center;
}

.wrapperClock .inPerson {
    grid-column: 2/3;
    grid-row: 4/5;
}

.inPerson {
    position: relative;
    top: 25%;
}

.wrapperClock .deleteEventButton {
    grid-column: 3/4;
    grid-row: 4/5;
}

.deleteEventButton {
    justify-self: center;
}

.buttonDelete {
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    height: 25px;
    cursor: pointer;
    margin-bottom: 10px;
}

.buttonDelete:hover {
    background-color: white;
    color: red;
}

/*************BOTTOM DESCRIPTION *****************************/

.eventbottomContainer {
    display: grid;
    /* border: 1px black solid; */
    margin-top: 20px;
    width: 800px;
    margin-left: 40px;
    border-radius: 10px;
    background-color: rgb(236, 236, 236);
}

.eventDetails {
    font-size: 23px;
    margin-top: 10px;
    margin-left: 10px;
}

.eventDescription {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;

}

/* .eventbottomContainer {
    display: flex;
    height: 200px;
} */

/* .eventDetailImg {
    background-color: pink;
    border: 1px solid blue;
} */

.dotEventDet {
    display: inline-block;
    position: relative;
    font-size: 25px;
    bottom: 5px;

}

.joinButton {
    background-color: red;
    color: white;
}

.noJoinButton {
    visibility: hidden;
}
