.eventGroup {
    color: gray;
    text-decoration: none;
    padding-right: 10px;
    font-size: 25px;
}

.eventGroup:hover {
    text-decoration: underline;
}

.eventEvent {
    color: blue;
    text-decoration: underline;
    font-size: 25px;
    padding-right: 5px;
}

 .smallHeader {
    color: gray;
    padding: 10px;
}
.eventListContainer {
    display: block;
    margin-left: 100px;
    border-bottom: 1px solid blue;
    width: 48%;
}

.eventListLink {
    text-decoration: none;
}

.eventList {
    display: flex;
    height: 150px;
    width: 600px;
    align-items: center;
    /* border-top: 1px solid gray;
    border-bottom: 1px solid gray; */
    border: 1px solid gray;
    border-radius: 20px;
    word-wrap: break-word;
}

.eventList:hover {
    box-shadow: 5px 5px rgba(0, 0, 255, 0.226);
}

 .eventDate {
    color: teal;
    padding-left: 20px;
    font-size: 15px;
}

.eventName {
    color: black;
    padding-left: 0px;
    font-size: 20px;
}


.eventLocation {
    padding-left: 5px;
    font-size: 13px;
    color: gray
}

.eventDescription {
    font-size: 12px;
    padding-top: 10px;
    width: 400px;
}

.eventimageImage {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

/*********** SCREEN 1000PX AND LESS ******************************/

@media (max-width: 1000px) {
    .eventList {
        display: flex;
        /* border: 1px black solid; */
        margin-left: -50px;

      }
    }
