/* .modalBackground1 {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  } */

  .modalContainer1 {
    position: absolute;
    right: 500px;
    top: 100px;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .titleCloseButton1 {
    display: flex;
    justify-content: flex-end;
  }

  .modalContainer1 .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
  }


  .titleCloseButton1 button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }

  .modalContainer1 .body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
  }

  .modalContainer1 .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #yesButton {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
  }

  #noButton {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: crimson;
    color: white;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
  }

  @media (max-width: 1100px) {
    .modalContainer1 {
      position: absolute;
      right: 450px;
      left: 200px;
      top: 100px;
      display: grid;
      grid-template-rows: repeat(14, 1fr);
      grid-template-columns: repeat(2, 1fr);
      width: 400px;
      height: 450px;
      border-radius: 50px;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      gap: 10px;
      padding: 25px;
    }
  }
