.profile-dropdownhidden {
    display: none;
}

#homepageContainer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;

}


.homePage {
    font-weight: bold;
    font-size: 30px;
    color: red;
    text-decoration: none;
}

.createGroup {
    position: relative;
}

.profileButton {
    position: static;
    padding-right: 10px;
    left: 1100px;
    background-color: rgb(176, 176, 231);
    text-align: left;
}

/* @media screen and (min-width: 480px) {
    .profileButton {
      width: auto;
    }
  } */


.noUser {
    display: none;
}
