.modalBackground {
    width: 350px;
    height: 200px;
    background-color: rgb(85, 81, 81);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: static;
    bottom: 100px;
    right: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modalContainer {
    width: 350px;
    height: 300px;
    border-radius: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    font-weight: bold;
  }

  .titleCloseButton {
    display: flex;
    justify-content: flex-end;
  }

  .titleCloseButton button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }

  .modalContainer .body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }

  .input {
    border-radius: 5px;
    height: 25px;
  }

  /* .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  .modalContainer button#isDisabled {
    width: 70%;
    height: 30px;
    margin: 10px;
    border: none;
    background-color: white;
    color: gray;
    border: 2px solid gray;
    border-radius: 8px;
    position: relative;
    left: 40px;
    /* font-size: 10px; */
  }

 #logInButton {
    background-color: red;
    margin: 10px;
    width: 70%;
    height: 30px;
    cursor: pointer;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    position: relative;
    left: 40px;
  }

.errors {
    color: red;
    text-align: center;
}



/* #demoButton {
  justify-self: center;
} */

.demoButton {
  background-color: white;
  border: none;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  /* margin: 10px; */
  position: relative;
  left: 110px;
}

.demoButton:hover {
  font-weight: bold;
}

#demoButton #logInBut{
  justify-content: center;
}

/* .logIn {

} */
